* {
    font-family: 'Calibri Regular', serif;
}

body {
    box-sizing: border-box;
}

.upper-nav, footer {
    background-color: #9c9c92;
    color: white;
}

.upper-nav a {
    color: white;
}

.upper-nav .col-md-2 > * {
    margin-top:0.25rem;
    margin-bottom: 0.25rem;
}

nav {
    padding: 5px 0;
}

nav img {
    max-width: 180px;
}

ul {
    margin-top: 0.6rem;
}

ul a {
    color: #9c9c92;
}

ul a:hover {
    color: #9c9c92;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    text-align: center;
    padding: 13% 25%;
    margin-bottom: 0;
    font-family: 'Calibri Regular', serif;
    font-size: 3.5vw;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, rgb(39, 39, 39));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #9c9c92;
}

.contacts h2 {
    color: white;
}

header {
    background: rgba(156,156,146,1);
    background: -moz-linear-gradient(-45deg, rgba(156,156,146,1) 0%, rgba(156,156,146,1) 16%, rgba(178,178,170,1) 31%, rgba(179,179,172,1) 32%, rgba(193,193,187,1) 43%, rgba(214,214,211,1) 55%, rgba(255,255,255,1) 84%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(156,156,146,1)), color-stop(16%, rgba(156,156,146,1)), color-stop(31%, rgba(178,178,170,1)), color-stop(32%, rgba(179,179,172,1)), color-stop(43%, rgba(193,193,187,1)), color-stop(55%, rgba(214,214,211,1)), color-stop(84%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(156,156,146,1) 0%, rgba(156,156,146,1) 16%, rgba(178,178,170,1) 31%, rgba(179,179,172,1) 32%, rgba(193,193,187,1) 43%, rgba(214,214,211,1) 55%, rgba(255,255,255,1) 84%);
    background: -o-linear-gradient(-45deg, rgba(156,156,146,1) 0%, rgba(156,156,146,1) 16%, rgba(178,178,170,1) 31%, rgba(179,179,172,1) 32%, rgba(193,193,187,1) 43%, rgba(214,214,211,1) 55%, rgba(255,255,255,1) 84%);
    background: -ms-linear-gradient(-45deg, rgba(156,156,146,1) 0%, rgba(156,156,146,1) 16%, rgba(178,178,170,1) 31%, rgba(179,179,172,1) 32%, rgba(193,193,187,1) 43%, rgba(214,214,211,1) 55%, rgba(255,255,255,1) 84%);
    background: linear-gradient(135deg, rgba(156,156,146,1) 0%, rgba(156,156,146,1) 16%, rgba(178,178,170,1) 31%, rgba(179,179,172,1) 32%, rgba(193,193,187,1) 43%, rgba(214,214,211,1) 55%, rgba(255,255,255,1) 84%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c92', endColorstr='#ffffff', GradientType=1 );
    height: 51vw;
}

.first-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;
    margin-top: -22vw;
}

.slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 25%;
    margin: 50px 67px;
    padding: 15px 29px;
    -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
    height: 550px;
    border-radius: 15px; 
    background-color: white;
}

.slide p:last-child {
    font-size: 14px;
}

.img-container {
    max-width: 280px;
    height: 200px;
    margin: 0 auto;
}

.img-container img {
    max-width: 100%;
    border-radius: 15px;
}

.img-container ~ p {
    font-weight: 600;
}

.price-list {
    text-align: center;
    padding-bottom: 5%;
}

.about {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: 0 auto;
}

footer {
    margin-top: 5%;
}

footer > .row {
    margin: 0 2%;
}

footer p {
    margin-bottom: 0;
}

footer h2 {
    border-left: 3px solid white;
    padding-left: 8px;
}

.fb-footer {
    display: flex;
    flex-direction: row;    
}

.fb-footer a {
    padding-left: 15px;
}

.vl {
    margin-left: 3%;
    border-left: 5px solid white;
}

.contacts:not(:nth-child(5)){
    font-weight: 600;
}

.e-mail {
    font-weight: 400;
}

#map {
    margin-top: 4.5%;
    margin-bottom: 3%;
}

footer .flex-container {
    display: flex;
    flex-direction: row;
}

.fa-caret-right, 
.fa-caret-left {
    font-size: 135px;
    padding-top: 12%;
}

.fa-caret-left {
    color: white;
}

.fa-caret-right {
    color: #9c9c92;
}